html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(
		125deg,
		rgba(24, 18, 43, 1) 0%,
		rgba(57, 48, 83, 1) 100%
	);
	height: 100vh;
	perspective: 25em;
	font-family: 'Rubik', sans-serif;
	background-size: 200% 200%;

	animation: background-movement 60s ease infinite;
}

@keyframes background-movement {
	0% {
		background-position: 0% 83%;
	}
	50% {
		background-position: 100% 18%;
	}
	100% {
		background-position: 0% 83%;
	}
}

button {
	display: block;
	border: 0;
}

.bio-container {
	margin-left: 13.5vw;
	margin-right: 13.5vw;
	margin-top: 12vh;

	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	column-gap: 12vw;

	animation: fade-in 0.5s ease-in-out;
}

.profile-picture-container {
	width: 10vw;
	height: 10vw;
	align-self: center;
	transition: width 0.5s ease-in-out, width 0.5s ease-in-out;
}

.profile-picture {
	width: inherit;
	height: auto;
	border-radius: 50%;
	border: 5px solid transparent;
	transition: border 0.15s ease-in-out;
}

.profile-picture:hover,
.profile-picture-container:hover .profile-picture:not(:hover) {
	border: 5px solid white;
	transition: border 0.15s ease-in-out;
}

.github {
	position: relative;
	bottom: 25%;
	right: -75%;
	width: 20%;
	height: auto;

	opacity: 0;
	transition: opacity 0.15s ease-in-out;
}

.github:hover,
.profile-picture:hover + .github {
	opacity: 1;
	transition: opacity 0.15s ease-in-out;
}

.bio {
	color: white;
	font-size: 1.5vw;
	transition: font-size 0.5s ease-in-out;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: white;
}

.nav-bar {
	color: white;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	column-gap: 1vw;

	padding-left: 5%;
	padding-right: 5%;
	backdrop-filter: grayscale(25%);
	transition: column-gap 0.5s ease-in-out;
}

.nav-bar-element {
	font-size: larger;
}

.nav-bar-element a {
	color: white;
	text-decoration: none;

	transition: color 0.15s ease-in-out;
}

.nav-bar-element a:hover {
	color: lightgray;

	transition: color 0.15s ease-in-out;
}

.project {
	position: relative;
	width: 20vw;
	height: 23.5vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	background-color: #443c68;
	color: white;
	animation: plop-in 0.75s ease-out, fade-in 0.5s ease-in-out;
	animation-fill-mode: both;
	border-radius: 5px;
	background-image: url('https://github.com/Steveplays28/realisticsleep/blob/main/docs/media/realistic_sleep.gif?raw=true');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	transition: filter 0.15s ease-in-out, transform 0.15s ease-in-out,
		width 0.5s ease-in-out, width 0.5s ease-in-out;
}

.project:hover {
	filter: brightness(125%);
	transform: translateY(-2vh);

	transition: filter 0.15s ease-in-out, transform 0.15s ease-in-out;
}

@keyframes plop-in {
	0% {
		top: -20vh;
	}
	100% {
		top: 0;
	}
}

.projects {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-flow: row wrap;
	column-gap: 1vw;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 12vh;
	z-index: -1;
}

.socials {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	column-gap: 1vw;
	margin-left: auto;
	width: 7.5vw;

	transition: column-gap 0.5s ease-in-out, width 0.5s ease-in-out;
}

.socials a {
	width: 30%;
	height: auto;
	transition: transform 0.25s ease-out;
}

.socials a:hover {
	/* Color: #696969 converted to a filter via https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(43%) sepia(0%) saturate(12%) hue-rotate(226deg)
		brightness(93%) contrast(85%);
	transform: rotateZ(360deg);
	transition: transform 0.25s ease-out, filter 0.25s ease-in-out;
}

.socials a img {
	width: 100%;
	height: auto;
}

.contact-text {
	text-align: center;
	margin-top: 12vh;
}

.title {
	font-size: 4vw;
	transition: font-size 0.5s ease-in-out;
}

.subtitle {
	font-size: 1vw;
	font-weight: lighter;
	margin-top: -4%;
	margin-bottom: 4%;
	margin-left: 5vw;
	margin-right: 5vw;
	transition: font-size 0.5s ease-in-out;
}

.contact-socials {
	margin-left: auto;
	margin-right: auto;
	width: 45vw;
	transition: width 0.5s ease-in-out;
}

.gap {
	width: 3vw;
}

@media only screen and (max-width: 800px) {
	.nav-bar,
	.socials {
		column-gap: 3vw;
		transition: column-gap 0.5s ease-in-out;
	}

	.socials {
		width: 20vw;
		transition: width 0.5s ease-in-out;
	}

	.bio {
		font-size: 3vw;
		transition: font-size 0.5s ease-in-out;
	}

	.profile-picture-container {
		width: 20vw;
		height: 20vw;
		transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	}

	.title {
		font-size: 8vw;
		transition: font-size 0.5s ease-in-out;
	}

	.subtitle {
		font-size: 4vw;
		transition: font-size 0.5s ease-in-out;
	}

	.contact-socials {
		width: 90vw;
		transition: width 0.5s ease-in-out;
	}
}

@media only screen and (max-width: 1200px) and (min-height: 1600px) {
	.nav-bar,
	.socials {
		column-gap: 3vw;
		font-size: 3vw;
		transition: column-gap 0.5s ease-in-out;
	}

	.socials {
		width: 20vw;
		transition: width 0.5s ease-in-out;
	}

	.socials a {
		width: 50%;
		transition: width 0.5s ease-in-out;
	}

	.bio {
		font-size: 3vw;
		transition: font-size 0.5s ease-in-out;
	}

	.profile-picture-container {
		width: 20vw;
		height: 20vw;
		transition: width 0.5s ease-in-out, width 0.5s ease-in-out;
	}

	.project {
		width: 80vw;
		height: 20vh;
		transition: width 0.5s ease-in-out, width 0.5s ease-in-out;
	}

	.title {
		font-size: 8vw;
		transition: font-size 0.5s ease-in-out;
	}

	.subtitle {
		font-size: 4vw;
		transition: font-size 0.5s ease-in-out;
	}

	.contact-socials {
		width: 90vw;
		transition: width 0.5s ease-in-out;
	}
}
