html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(24, 18, 43);
	background: linear-gradient(
		125deg,
		rgba(24, 18, 43, 1) 0%,
		rgba(57, 48, 83, 1) 100%
	);
	height: 100vh;
	perspective: 25em;
	font-family: 'Rubik', sans-serif;
}

button {
	display: block;
	border: 0;
}

.bio-container {
	margin-left: 13.5vw;
	margin-right: 13.5vw;
	margin-top: 5vw;

	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	column-gap: 12vw;

	animation: fade-in 0.5s ease-in-out;
}

.profile-picture-container {
	width: 10vw;
	height: 10vw;
	align-self: center;
}

.profile-picture {
	width: inherit;
	height: auto;
	border-radius: 50%;
}

.github {
	position: relative;
	bottom: 25%;
	right: -75%;
	width: 20%;
	height: auto;

	opacity: 0;
	transition: opacity 0.15s ease-in-out;
}

.github:hover,
.profile-picture:hover + .github {
	opacity: 1;
	transition: opacity 0.15s ease-in-out;
}

.bio {
	color: white;
	font-size: 2rem;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 {
	color: white;
}

.title {
	text-align: center;
}

.nav-bar {
	color: white;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	column-gap: 1vw;

	padding-left: 10%;
	padding-right: 10%;
	backdrop-filter: grayscale(25%);
}

.nav-bar-element {
	font-size: larger;
}

.nav-bar-element a {
	color: white;
	text-decoration: none;

	transition: color 0.15s ease-in-out;
}

.nav-bar-element a:hover {
	color: lightgray;

	transition: color 0.15s ease-in-out;
}

.project {
	position: relative;
	width: 20vw;
	height: 23.5vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	background-color: #443c68;
	color: white;
	animation: plop-in 0.75s ease-out, fade-in 0.5s ease-in-out;
	animation-fill-mode: both;
	border-radius: 5px;
	background-image: url('https://github.com/Steveplays28/realisticsleep/blob/main/docs/media/realistic_sleep.gif?raw=true');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	transition: filter 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.project:hover {
	filter: brightness(125%);
	transform: translateY(-2vh);

	transition: filter 0.15s ease-in-out, transform 0.15s ease-in-out;
}

@keyframes plop-in {
	0% {
		top: -20vh;
	}
	100% {
		top: 0;
	}
}

.projects {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-flow: row wrap;
	column-gap: 1vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	z-index: -1;
}
